html {
  color: #000;
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

p, h1, h2, h3, h4, h5, span, li {
  color: #000;
  font-weight: normal;
  margin: 0.5rem 0;
}

ul{
  list-style:none;
}

p, li, a {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0px;
  font-weight: normal;
}
h1 {
  font-family: Menlo,Monaco,monospace;
  font-size: 30px;
  font-weight: normal;
}

.leaflet-container {
  height: inherit;
  width: 100%;
}

.leaflet-container a {
  color: #9d0728 !important;
  top: 1.6rem !important;
  right: 1rem !important;
}

#root {
  min-height: 100vh;
  background: #9d0728;
}
